<div id="home" class="row m-0 p-0">
  <div class="col-md-12 m-0 p-0">
    <section class="view intro-section">
      <video class="video-intro video-fluid" src="{{video}}" playsinline autoplay muted loop></video>
      <div class="container-fluid m-0 p-0 h-100 logo d-flex justify-content-center align-content-center">
        <div class="row m-0 p-0 align-self-center m-auto text-white">
          <div class="col-md-12 m-0 p-0">
            <div class="display-2 font-weight-bold text-center">
              <span class="animated a-letter fadeIn">A</span>
              <span class="animated d-letter fadeIn">D</span>
              <span class="animated v-letter fadeIn">V</span>
              <span class="animated e-letter fadeIn">E</span>
              <span class="animated r-letter fadeIn">R</span>
              <span class="animated c-letter fadeIn">C</span>
              <span class="animated o-letter fadeIn">O</span>
              <span class="animated m-letter fadeIn">M</span>
            </div>
            <div class="row m-0 p-0">
              <div class="col-md-10 mx-auto m-0 p-0">
                <div class="row m-0 p-0">
                  <hr class="col-md-4 animated hr-animate fadeInLeft" style="background: #fff">
                  <div class="col-md-2 text-center text-white d-flex justify-content-center align-content-center">
                    <i class="fas fa-circle m-auto align-self-center animated hr-circle fadeInUp"></i>
                  </div>
                  <hr class="col-md-4 animated hr-animate fadeInRight" style="background: #fff">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="about" class="row m-0 p-0">
  <div class="col-md-12 mt-5 mb-5 p-4">
    <div class="row m-0 p-0">
      <div class="col-md-8 mx-auto">
        <div class="row m-0 p-0">
          <div class="col-md-12 mt-0 mr-0 ml-0 mb-5 p-0 text-center">
            <p class="h3 mb-4 text-uppercase">
              о нас
            </p>
            <div class="row m-0 p-0">
              <div class="col-md-10 mx-auto">
                <p class="h5 mb-4">
                  Компания «Адверком» приветствует Вас на своем сайте. Мы будем рады, если Вы узнаете больше о нас и наших возможностях в разработке и производстве наружной рекламы, торгового оборудования, средств визуальной коммуникации, POS-материалов, всего того, что помогает Вам эффективно взаимодействовать с Вашими клиентами
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0">
            <p class="h5"><strong>01 | Мы — креативны</strong></p>
            <p>Творческий подход в решение каждой поставленной задачи является нашим кредо, так как наши сотрудники знают, что лучшее — это всегда творческий труд, который требует высокого уровня знаний и квалификации сотрудников</p>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0">
            <p class="h5"><strong>02 | Мы — компетентны</strong></p>
            <p>Сотрудники нашей компании являются квалифицированными компетентными специалистами в своих областях, что позволяет им решать любые задачи, ставящиеся клиентами нашей компании</p>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0">
            <p class="h5"><strong>03 | Мы — опытны</strong></p>
            <p>За долгое время деятельности нашей компании, был накоплен колоссальный опыт в разработке методово и путей решения различных задач, что позволяет быстро решать любые сложности, а также находить новые пути реализации тех или иных поставленных задач</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4 mb-5 p-0 purple-gradient shadow">
    <div class="row mt-5 mb-5 p-0">
      <div class="col-md-8 mx-auto">
        <div class="row m-0 p-0">
          <div class="col-md-8 mx-auto">
            <p class="h3 text-uppercase text-center p-4">
              Уверенно развиваясь с 1994 года
            </p>
            <p class="h4 text-uppercase text-center p-4">
              сегодня компания «Адверком» представляет собой крупный производственный комплекс, четко структурированный на специализированные участки, оснащенные современным технологическим оборудованием.
            </p>
            <p class=" h4 text-center">
              В услуги компании входит:
            </p>
            <p class="h4 text-center">металлообработка, фрезеровка, вакуумная формовка, макетирование и сборка.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="services" class="col-md-12 mt-5 mb-5 p-4 mb-3 mt-3">
    <div class="container mt-5 mb-5">
      <p class="h3 text-center mt-3 mb-5 text-uppercase">Чем мы занимаемся</p>
      <p class="h4 text-center mb-5 mt-3">
        Сотрудничая с компанией «Адверком», Вы получаете комплексный корпоративный сервис, отвечающий самым высоким стандартам:
      </p>
      <div class="row justify-content-around align-content-around">
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="fas fa-male fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Персональный менеджер</span>
            </div>
            <div class="card-body text-center">
              <p>Сотрудник, который будет заниматься исключительно Вашей задачей</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="far fa-object-group fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Дизайн</span>
            </div>
            <div class="card-body text-center">
              <p>Разработка дизайна и конструкторской документации</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="fab fa-dochub fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Документы</span>
            </div>
            <div class="card-body text-center">
              <p>Оформление документов и сопровождение проекта во всех инстанциях</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="fas fa-clipboard-check fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Качество изготовления</span>
            </div>
            <div class="card-body text-center">
              <p>Высококачественные материалы и изготовление продукта</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-4"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="fas fa-wrench fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Монтаж</span>
            </div>
            <div class="card-body text-center">
              <p>Монтажные работы по всей Беларуси</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card what-we-do">
            <div class="card-image text-center p-3 text-light">
              <i class="fas fa-certificate fa-3x"></i>
              <hr class="col-md-4 mx-auto">
              <span class="text-dark">Гарантия и сервис</span>
            </div>
            <div class="card-body text-center">
              <p>Гарантийное и сервисное обслуживание</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-md-12 m-0 p-5 parallax-one">
    <div class="row m-0 p-5">
      <div class="col-md-8 mx-auto p-5">
        <div class="row m-0 p-0">
          <div class="col-md-3 mx-auto m-0 p-0 text-white">
            <p class="display-4 font-weight-bold text-center">+100</p>
            <p class="h5 text-center">счастливых клиентов</p>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0 text-white">
            <p class="display-4 font-weight-bold text-center">+150</p>
            <p class="h5 text-center">успешных проектов</p>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0 text-white">
            <p class="display-4 font-weight-bold text-center">+50</p>
            <p class="h5 text-center">побед в номинациях</p>
          </div>
          <div class="col-md-3 mx-auto m-0 p-0 text-white">
            <p class="display-4 font-weight-bold text-center">+1000</p>
            <p class="h5 text-center">выпитых чашек кофе</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="projects" class="col-md-12 mt-0 mb-5 p-0">
    <div class="row mt-5 mb-5 p-0">
      <div class="col-md-5 mx-auto m-0 p-0 text-center">
        <p class="h2 mt-3 mb-4 text-uppercase font-weight-bold">
          наши проекты
        </p>
        <p class="text-center">
          Ниже представлены все проекты, в которых принимало участие наше агентство
        </p>
      </div>
      <div class="col-md-10 mx-auto">
        <div class="row m-0 p-0">
          <div *ngFor="let project of projects " class="col-lg-3 col-md-6">
            <div class="view overlay z-depth-1">
              <img src="{{link}}/images/covers/{{project.cover}}" class="img-fluid " alt="">
              <div class="mask flex-center rgba-gradient">
                <a class="btn  btn-outline-white btn-rounded wow fadeInUp" data-wow-delay="0.2s" (click)="showProject(project)" data-offset="85">
                  <span>ПОДРОБНЕЕ</span>
                </a>
              </div>
            </div>
            <p class="text-uppercase text-center grey-text mt-4 mb-4">{{project.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 p-0 mb-3 mt-3">
    <div class="container-fluid mt-3 mb-5 p-4" style="background-color: #eeeeee">
      <div class="row text-center justify-content-around align-content-around">
        <div class="col-md-8 mx-auto m-0 p-0">
          <div class="row m-0 p-0">
            <div class="col-md-3 mx-auto m-0 p-0 flex-center">
              <img src="https://mdbootstrap.com/img/Photos/Template/34.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mx-auto m-0 p-0 flex-center">
              <img src="https://mdbootstrap.com/img/Photos/Template/35.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mx-auto m-0 p-0 flex-center">
              <img src="https://mdbootstrap.com/img/Photos/Template/36.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mx-auto m-0 p-0 flex-center">
              <img src="https://mdbootstrap.com/img/Photos/Template/37.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3 mb-3 p-0">
    <div class="row wow fadeIn " data-wow-delay="0.4s ">
      <div class="col-md-8 mx-auto mt-2 mb-2 p-0 text-center">
        <p class="h2 mt-3 mb-4 text-uppercase font-weight-bold">
          связаться с нами
        </p>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="row">
          <div class="col-md-8 mb-5">
            <form #mailForm="ngForm" (submit)="sendMail()">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <div class="md-form">
                      <input type="text" id="contact-name" class="form-control" name="name" [(ngModel)]="mail.name" required>
                      <label for="contact-name" class="">Ваше имя</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <div class="md-form">
                      <input type="email" id="contact-email" class="form-control" name="email" [(ngModel)]="mail.email" required>
                      <label for="contact-email" class="">Ваш email</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <input type="text" id="contact-Subject" class="form-control" name="subject" [(ngModel)]="mail.subject" required>
                    <label for="contact-Subject" class="">Тема письма</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3" name="message" [(ngModel)]="mail.message"></textarea>
                    <label for="contact-message">Ваше сообщение</label>
                  </div>
                </div>
              </div>
              <div class="text-center text-md-left mt-4">
                <button class="btn btn-rounded btn-outline-black waves-effect" type="submit">Отправить</button>
              </div>
            </form>

          </div>
          <div class="col-md-4 ">
            <ul class="contact-icons ">
              <li>
                <i class="fa fa-map-marker fa-2x "></i>
                <span class="grey-text ">Минск, ул. Интернациональная, 16, РБ</span>
              </li>
              <li>
                <i class="fa fa-phone fa-2x "></i>
                <span class="grey-text ">+ 01 234 567 89</span>
              </li>
              <li>
                <i class="fa fa-envelope fa-2x "></i>
                <span class="grey-text ">contact@mdbootstrap.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
