.a-letter {
  animation-delay: .2s;
}
.d-letter {
  animation-delay: .4s;
}
.v-letter {
  animation-delay: .6s;
}
.e-letter {
  animation-delay: .8s;
}
.r-letter {
  animation-delay: 1s;
}
.c-letter {
  animation-delay: 1.2s;
}
.o-letter {
  animation-delay: 1.4s;
}
.m-letter {
  animation-delay: 1.6s;
}
.hr-animate {
  animation-delay: 1.8s;
}
.hr-circle {
  animation-delay: 2s;
}
.intro-section {
  width: 100vw;
  height: 100vh!important;
}
.card.card-cascade.narrower .view {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
}

.card.card-cascade .view.gradient-card-header {
  padding: 1.6rem 1rem;
  text-align: center;
}

.purple-gradient {
  background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.what-we-do {
  transition: .3s ease-in-out;
}

.what-we-do:hover {
  transform: scale(1.01,1.01);
  cursor: pointer;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.parallax-one {
  background-image: linear-gradient(rgba(255, 110, 196, 0.4),rgba(120, 115, 245, 0.4)), url('../../assets/parallax-image.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask.rgba-gradient {
  background: linear-gradient(45deg,rgba(29,236,197,.7),rgba(91,14,214,.7) 100%);
}
.overlay .mask:hover {
  opacity: 1;
}
.overlay .mask {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.view .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.btn-rounded {
  border-radius: 10em;
}

.contact-icons {
  list-style-type: none;
}
